[commands]
upgrade_type = default
random_sleep = 0
download_updates = yes
apply_updates = yes
[emitters]
emit_via = motd
[base]
debuglevel = 1
#[email]
#email_from = root@myserver.example.com
#email_to = root
#email_host = localhost